<main>
<h1>About</h1>
<br></br>
<h3>WANDER IS A CONTEMPORARY FASHION AND HOMEWARES MARKETPLACE SHOWCASING EMERGING BRANDS IN THE UK.</h3>

<p>
Unlike most online marketplaces, Wander is highly curated. Each brand is chosen by hand based on their style and quality. We believe in creating a seamless shopping experience that will position Wander as a one-stop-shop for all your needs, where you'll always find something you love from brands you trust.
</p>

<br></br>
<h3>WHO WE ARE</h3>

<p>
Wander is the brainchild of founder Emily Inglis, a London based Digital Strategist who has worked for several years with lifestyle brands from early-stage startups to global enterprises and prior to that, as a fashion stylist and writer for clients including Dazed and Confused, 10 Magazine and Jones Bootmakers.</p>

 
<br></br>
<h3>HISTORY</h3>
<p>
Traveling through Australia in 2010, Emily was inspired by the independent fashion and homewares designers, retailers and artisans she met on the way, spurring her to explore this space back home in the UK.
What she found was a similar story but with a heightening pressure to be online, many of these emerging brands were struggling to establish and grow their business.
In 2014, Wander - meaning to 'walk or move in a leisurely or aimless way' - was born and in January 2015, the marketplace was launched.
</p>
</main>

