<h1>Contact Us</h1>


<div>

  <div id="contactForm" class="small-8 medium-8 large-8 columns">
    <form id="myForm" method="post" data-abide>  

      <h5>Name</h5>
      <small class="error">Your full name is required.</small>
      <input type="text" placeholder="Full Name" required>

      <h5>Email</h5>
      <small class="error">An email address is required.</small>

      <input type="email" placeholder="name@address.com" required>

      <h5>Website</h5>          
      <input type="url" placeholder="http://www.url.com">

      <h5>Your Message</h5>
      <small class="error">Your message is required.</small>
      <textarea placeholder="Enter your message here." required></textarea>

      <input type="submit" value="Send Message"></button></a>

      
    </form>
  </div>