// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#all-products-summary {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #000;
}


.all-prod-title {
  font-size: 16px;
}

.all-prod-seller {
  font-size: 12px;
}

#add-prod-button {
  border-radius: 0px;
  text-align: center;
  margin-top: 40px;
}

#panel {
  a {
    color: white;
    font-size: 11px;
  }
}

#placeholder_text {
  font-size: 12px;
}

.form-layout {
  margin: 20px;
    button {
      font-size: 30px;
    }
}

#img-index {
    width: 240px;
    height: auto;
}

.product-card {
  width: 33%;
  height: auto;
  float: left;
  margin: 10px;
}

#panel {
  width: 100%;
  height: auto;
}

#row {
  max-width: 100%;
}